/* only-child */
#test1 > p:only-child{
    /* #test1의 자식으로 p태그 혼자만 있을 때 선택 */
    background-color: steelblue;
}

/* :only-of-type */
#test2 >p:only-of-type{
    /* #test2 자식 중 p태그가 1개이면 선택, 다른 태그 신경 x */
    background-color: deeppink;
}

/* :empty */
#test3:empty{
    height: 30px;
    background-color: brown;
}

/* 클래스가 여러 개 작성된 요소만 특정 선택 */
/* 2번만 선택 */
.test4.cls4{
    background-color: orange;
}

/* 문제 */
#test5>li:not(.c5){
    background-color: blue;
}

/* #test6 자식 중 10번 선택 */
#test6>li:nth-last-child(3)>span{
    background-color: brown;
}
