<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h3>회원정보</h3>
	<table border="1px">
        <tr>
            <td>회원정보</td>
            <td>회원아이디</td>
            <td>회원이름</td>
            <td>회원나이</td>
        </tr>
        <tr>
            <td th:text="${searchNo.userNo}">회원정보</td>
            <td th:text="${searchNo.userId}">회원아이디</td>
            <td th:text="${searchNo.userName}">회원이름</td>
            <td th:text="${searchNo.userAge}">회원나이</td>
        </tr>
    </table>
</body>
</html>