* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,body, main{
  height: 100%;
}
.content{
  height: 100%;
}

.friendNav {
  background-color: white;
  border-right: 1px solid black;
  width: 360px;
  height: 100%;
  min-width: 360px;
  position: fixed;
}


.back{
  height: 35px;
  width: 35px;
  margin-left: 12px;
  margin-top: 8px;
  border-radius: 50%;
}
.back:hover{
  background-color: #F2F3F5;
}

.backfriend{
  text-decoration: none;
  color: #65676b;
}

.friendpuls{
  width: 288px;
  height: 28px;
  font-size: 24px;
}
.frtopbox{
  width: 100%;
  height: 50px;
  display: flex;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.frmidbox{
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.hr2{
  width: 328px;
  text-align: center;
  margin-left: 11px;
  border: 0.5px solid #e3e4e6; 
}

#friendRQ{
  color: #050505;
  font-weight: bold;
  font-size: 17px;

}
#friendRQBox{
  margin-left: 11px ;
  padding-top: 14px;
}

#viewRQbox{
  margin-left: 11px;
  margin-top: 5px;
}
#viewRQ{
  font-size: 13px;
  color: #1876f2;
}