<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    td{
        border: 1px solid;
    }
</style>
</head>

<body>
    <table style="border: 1px solid;">
        <tr>
            <td>회원번호</td>
            <td>회원아이디</td>
            <td>회원이름</td>
            <td>회원나이</td>
        </tr>
        <tr>
            <td th:text="${mamberId.userNo}">회원번호</td>
            <td th:text="${mamberId.userId}">회원아이디</td>
            <td th:text="${mamberId.userName}">회원이름</td>
            <td th:text="${mamberId.userAge}">회원나이</td>
        </tr>
            
    </table>
</body>
</html>